/* ------- comments ------ */
#loader {
	position:fixed;
	top:50%;
	left:45%;
	display:none;
}

.comm-content {
	width: 720px;
	height:auto;
	margin:20px auto 30px;
	border:2px solid #435c69;;
	border-radius:8px;
	background-color:#41C1EB;
	word-wrap:break-word;
	
}

.comm {
	padding:15px 5px 5px 5px;
	background-color:#41C1EB;
	margin-bottom:9px;
	border-bottom:1px dashed black;
}

.comm-date {
	display:inline-block;
	margin-left:20px;
	font-size:11px;
}

.comm-submit {
	font-size:18px;
	height:45px;
	width:100%;
	background:url(../img/bg-commented.jpg) repeat-x;
	background-size: contain;
	color:white;
}

.comm-submit:hover {
	cursor:pointer;
}

.comm-table {
	width: 400px;
	margin:0px auto;
}

.comm-table tr td {
	padding:5px;
}


